@property --has-dead {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --has-gargoyle {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --has-carpenter {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.state-ctx {
  animation-name: state-dead, state-gargoyle, state-carpenter;
  animation-duration: 1ms, 1ms, 1ms;
  animation-fill-mode: both, both, both;
  animation-play-state: paused, paused, paused;
  cursor: var(--cursor-alive) var(--cursor-x) var(--cursor-y), pointer;

  &:has(.throw-hitbox:hover),
  &:has(.repair:hover),
  &:has(.respawn-point:hover) {
    animation-name: none, none, none;
    animation-play-state: paused, paused, paused;
  }
  &:not(:has(.game-board:hover)),
  &:has(.abyss:hover),
  &:has(.yard:hover) {
    animation-name: state-dead, none, none;
    animation-play-state: running, paused, paused;
  }
  &:has(.gargoyle-pickup:hover) {
    animation-name: none, state-gargoyle, none;
    animation-play-state: paused, running, paused;
  }
  &:has(.carpenter-pickup:hover) {
    animation-name: none, none, state-carpenter;
    animation-play-state: paused, paused, running;
  }
}

@keyframes state-dead {
  to {
    cursor: var(--cursor-dead) var(--cursor-x) var(--cursor-y), pointer;
    --has-dead: 1;
  }
}
@keyframes state-gargoyle {
  to {
    cursor: var(--cursor-gargoyle) var(--cursor-x) var(--cursor-y), pointer;
    --has-gargoyle: 1;
  }
}
@keyframes state-carpenter {
  to {
    cursor: var(--cursor-carpenter) var(--cursor-x) var(--cursor-y), pointer;
    --has-carpenter: 1;
  }
}
