@property --since-hit {
  syntax: "<number>";
  inherits: true;
  initial-value: 0.0;
}
@property --approach-time {
  syntax: "<number>";
  inherits: true;
  initial-value: 60.0;
}

.timer-ctx {
  --approach: min(1.0, var(--since-hit) / var(--approach-time));
  animation-name: approach, difficulty;
  animation-duration: 1000s, 300s;
  animation-timing-function: linear, linear;
  animation-fill-mode: both, both;

  &:has(.throw-hitbox:hover) {
    animation-name: none, difficulty;
  }
}

@keyframes approach {
  to { --since-hit: 1000 }
}
@keyframes difficulty {
  0% { --approach-time: 60.0 }
  15% { --approach-time: 50.0 }
  40% { --approach-time: 40.0 }
  60% { --approach-time: 30.0 }
  100% { --approach-time: 20.0 }
}
